
.globalnav-list{
    cursor: default;
    margin: 0 -8px;
    width: auto;
    height: 44px;
    display: flex;
    justify-content: space-between;
    user-select: none;
    list-style: none;
}

.globalnav-content{
    backdrop-filter: blur(15px);
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    padding-top: 0;
    padding-bottom: 0;
    padding-inline-start: max(22px,var(--r-globalnav-safe-area-inset-start));
    padding-inline-end: max(22px,var(--r-globalnav-safe-area-inset-end));
    --r-globalnav-flyout-rate: 0s;
    --r-globalnav-duration-medium: .24s;
    z-index: 2;
}

svg{
    color: rgba(255, 255, 255, .8);
}

svg:hover{
    color: white;
}