.iphone {
  display: flex;
  flex-direction: column;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px; 
  justify-items: stretch; 
  align-items: start; 
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  margin-top: 10px;
  margin-bottom: 10px;
}

Footer{
  background-color: rgb(245, 245, 247);
}
