.link{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 0;
}

.link a {
    text-decoration: none; 
    color: #2997ff; 
}

.link a:hover {
    text-decoration: underline;
}


.learnmore{
    margin-left: -4px;
    pointer-events: all;
    color: #2997ff;
    letter-spacing: inherit;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.buy{
    margin-left: 35px;
    pointer-events: all;
    color: #2997ff;
    letter-spacing: inherit;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.vision{
    width: 3008px;
    height: 736px;
    background-size: 3008px 736px;
    background-repeat: no-repeat;
    z-index: -1;
    border: 0;
    margin: 0;
    padding: 0;
    left: calc(50% + 0px);
    right: auto;
    bottom: 0px;
    top: 150%;
}

.logo{
    z-index: 3;
    width: 275px;
    height: 56px;
    background-size: 275px 56px;
    background-repeat: no-repeat;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-shrink: 1;
}

.all3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.visiontext {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    z-index: 5;
    margin-top: 18%;
    
}

.visionh3{
    font-size: 28px;
    color: #1d1d1f;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}