.legal{
    background-color: rgb(245, 245, 247);
    padding-left: 35%;
    padding-top: 1%;
}

.legaltext{
    max-width: 50%;
    color: rgba(32, 32, 32, 0.56);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

hr {
    border: none;
    opacity: 30%;
    height: 1px;
    background-color: rgba(32, 32, 32, 0.56);
    margin-top: 20px; 
    margin-bottom: 20px;
    max-width: 31%; 
}