.all1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
    align-items: center;
}

.iphonepro{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
    z-index: 5;
}

.iphh2{
    font-size: 56px;
    color: #f5f5f7;
    font-weight: 545;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.iphh3{
    font-size: 28px;
    color: #f5f5f7;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

.link{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 0;
}

.link a {
    text-decoration: none; 
    color: #2997ff; 
}

.link a:hover {
    text-decoration: underline;
}


.learnmore{
    margin-left: -4px;
    pointer-events: all;
    color: #2997ff;
    letter-spacing: inherit;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.buy{
    margin-left: 35px;
    pointer-events: all;
    color: #2997ff;
    letter-spacing: inherit;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.iphone{
    width: 3008px;
    height: 736px;
    background-size: 3008px 736px;
    background-repeat: no-repeat;
    z-index: -1;
    /* position: absolute; */
    border: 0;
    margin: 0;
    padding: 0;
    left: calc(50% + 0px);
    right: auto;
    bottom: 0px;
    top: 0;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
}