.column{
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px; 
  justify-items: stretch; 
  align-items: start; 
}

hr {
    border: none;
    opacity: 30%;
    height: 1px;
    background-color: rgba(32, 32, 32, 0.56);
    margin-top: 0%; 
    margin-bottom: 20px;
    max-width: 31%; 
}

.shop{
    max-width: 50%;
    color: rgba(32, 32, 32, 0.56);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    padding-left: 35%;
}